@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
            "header     header"
            "nav        nav"
            "section    sidebar"
            "content    sidebar"
            "footer     footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}